.tipBox {
    background-color: #ffffff;
    padding: 0.1rem 0.3rem;
}

.tipContent {
    height: auto;
    line-height:1.3;
    padding:5px 5px 5px 10px;
    background-color: rgb(242, 242, 242);
    border: solid 1px rgb(242, 242, 242);
    border-radius: 5px;
    color: rgb(102, 102, 102);
    position: relative;
}
.tipContent span{
    color: red;
    position:absolute;
    top:5px;left:2px;
}
span.red{
    color: red;
}
span.zhuyi{
    color: #666
}
#closingDate {
    display: none;
}

/* 会议记录添加列*/
.meetingRecord {
    margin-top: 10px;
    /* padding: 5px 0; */
    padding-left: 0.3rem;
    padding-right: 0.3rem;

    background-color: #fff;
}

.headerBlock {
    position: relative;
    height: 0.6rem;
    line-height: 0.6rem;
    display: flex;
    padding: 10px 0;
}

.headerBlock:after {
    position: absolute;
    content: '';
    left: 0.6rem;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #F5F5DC;
}

.headerBlock .headerBlockLeftIcon {
    width: 0.6rem;
    margin: auto 0;
}

.headerBlock .headerBlockLeftIcon .calcfont {
    font-size: 0.44rem;
    color: #8a8a8a;
}

.headerBlock .headerBlockContent {
    width: calc(100% - 1.16rem);
    margin: auto 0;
    color: #FF5A21;
}

.contentListCell .headerBlockContent {
    color: #000000;
}

.headerBlock .headerBlockRightIcon {
    width: 0.56rem;
    text-align: right;
    margin: auto 0;
}

.headerBlock .headerBlockRightIcon .calcfont {
    font-size: 0.4rem;
    color: #FF5A21;
}

.contentListCell .headerBlockRightIcon .calcfont {
    color: #8a8a8a;
}

/* 会议记录列表 */
.meetingRecordList {
    padding-left: 0.3rem;
    padding-right: 0.3rem;

    background-color: #fff;
}
.meetingRecordList .meetingRecordListCell{border-bottom:1px solid #e6e5e5;}

.meetingRecordList .headerDiv {
    position: relative;
    height: 0.6rem;
    display: flex;
    padding: 10px 0;
}

.headerDiv .headerDivLeftIcon {
    width: 0.6rem;
    margin: auto 0;
}

.headerDiv .headerDivContent {
    width: calc(70% - 1rem);
    margin: auto 0;
    font-size: 0.28rem;
}
.headerDiv .headerDivContent .content{
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.headerDiv .headerDivRightBtn {
    width: calc(30%);
    margin: auto 0;
    color: #2A79C8;
    font-size: 0.28rem;
    text-align: center;

}

.headerDiv .headerDivRightDelete {
    width: 0.4rem;
    margin: auto 0;
}

.headerDivRightDelete .calcfont {
    font-size: 0.4rem;
    color: #aaaaaa;
}

.meetingRecordList .headerDiv:after {
    position: absolute;
    content: '';
    left: 0.6rem;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #F5F5DC;
}

.headerDiv .headerDivLeftIcon .calcfont {
    font-size: 0.44rem;
    color: rgb(33, 42, 50);
}

.airlinesName {
    position: relative;
    min-height: 1rem;
    padding:0.2rem 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.airlinesName .airlinesNameContent {
    padding-left: 0.6rem;
    line-height: 1.3;
}

.airlinesName:after {
    position: absolute;
    content: '';
    left: 0.6rem;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #F5F5DC;
}

.meetingRemark {
    position: relative;
    padding: 0.2rem 0;
    padding-left: 0.6rem;
    min-height: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.meetingRemark:after {
    position: absolute;
    content: '';
    left: 0.6rem;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #F5F5DC;
}

.meetingRemark p {
    font-size: 0.28rem;
    line-height:1.3;
    word-break: break-all;
}

.meetingDocList {
    /* padding-left: 0.6rem; */
}

.meetingDocList .docListCell {
    position: relative;
    display: flex;
    height: 1rem;
    line-height: 1rem;
}

.meetingDocList .docListCell:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #F5F5DC;
}

.docListCell .docListCellLeft {
    width: 60%!important;
    font-size: 0.28rem;
    color: #2A79C8;
}
.docListCell .docListCellLeft .docListCellLeftContent{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:#2a79c8;
}

.docListCell .docListCellRight {
    width: 40%!important;
    font-size: 0.28rem;
    text-align: right;
}

.docListCellLeftContent span {
    color: #FF5A21;
    display: inline-block;
    width: 0.6rem;
}

/* 分享模块 */
.shareBlock {
    margin-top: 10px;
    padding: 0.1rem 0;
    background-color: #fff;
}

.shareBlock .shareTip {
    font-size: 0.28rem;
    line-height: 0.34rem;
    padding-left: 0.9rem;
    padding-right: 0.3rem;
    color: rgb(102, 102, 102);
}

.shareTip span {
    color: red;
}

.accessBlock {
    margin-top: 10px;
}

.accessBlock .ListCellContentLeftText {
    font-weight: 700;
}

.leftContent {
    width: calc(100% - 0.32rem) !important;
}

span.calcfont.calc-shoucang {
    color: #FF5A21 !important;
}

.initiatorObj{
  /* display:none; */
}


/*关闭交易/商业机会， 转换为交易  弹层*/
.elastic-layer{
  position:fixed;
  z-index: 110;
  display:none;
  background: rgba(0, 0, 0, 0.3);
  top:0;left:0;bottom:0;right:0;
}
.elastic-layer-content{
  width: 80%;
  max-width: 300px;
  min-height: 100px;
  background: #fff;
  border-radius: 3px;
  position:absolute;
  top:50%;left:50%;
  transform: translate(-50%,-50%);
  padding:15px;
}
.elastic-layer-title{
  padding:10px 0px;
  border-bottom: 1px solid #ccc;
}

.elastic-layer-item{
  display: flex;
  padding: 9px .3rem;
  /* line-height: 1; */
}
