
.header{position:fixed;width:100%;top:0;left:0;z-index:9;}

.nav{
  position:fixed;
  width:100%;height:40px;top:0.88rem;
  -webkit-box-orient:horizontal;-moz-box-orient:horizontal;box-orient:horizontal;
  display:-moz-box;
  display:-webkit-box;
  display:box;
  box-sizing: border-box;
  border-bottom:1px solid #ccc;
}
.nav-item{
  line-height:38px;
  margin-bottom: -1px;
  text-align: center;
  padding:0 5px;
  box-sizing: border-box;
  -moz-box-flex:3;
  -webkit-box-flex:3;
  box-flex:3;
  font-size: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  word-break: break-all;
  background:#fff;
}
.active-item{color:#009979;}
.nav-border{
  position: absolute;
  bottom: 0;
  left: 0;
  background: #009979;
  width: auto;
  height: 2px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}


.search-box{
  position:fixed;top:calc(0.88rem + 40px);bottom:0.9rem;left:0;right:0;overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
}
.swiper-container {
  width: 100%;
  /* line-height: 28px; */
}


.anniu {
  position:fixed;
  width: 100%;
  height:0.9rem;
  line-height:0.9rem;
  bottom: 0;
  /* font-size: 0.25rem; */
  left:0;
  z-index: 3;
  display: flex;
}

.clear-btn,
.sure-btn {
  flex: 1;
  background-color: #F2F2F2;
  color: #000000;
  text-align: center;
}
.sure-btn {
  background-color: #FF5A21;
  color: #FFFFFF;
}

