
header {
    position: fixed;
    width: 100%;
    z-index: 10000;
}

header.mui-bar {
    line-height: 0.2rem;
    /* background: #f8f2dc; */
    background: #ffffff;
}

.leftView {
    position: absolute;
    height: 0.88rem;
    /* width: 2.1rem; */
    right: 0;
    top:0;
}

.mui-title {

    display: inline-block;
    overflow: hidden;
    width: auto;
    max-width:65%;
    font-size: .34rem;
    margin: 0 0 0 -10px;
    text-overflow: ellipsis;
    padding: 0;
    text-align:left;
    white-space: nowrap;
    line-height: .88rem;
}
.calcfont {
    font-size: 0.48rem;
    text-align: center;
    padding: .2rem 10px;
    position: relative;
    z-index: 20;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    margin-left:-10px;
}

.calc-fanhui {
    margin-left:0;
}


#delete:after {
    clear: both;

}

header .mui-title,
header a {
    color: #333333;
    font-weight: 400;
}
.pageContent{
    /* padding:10px; */
    padding-top: 0.88rem;
    padding-bottom: 1rem;
    overflow-x: hidden;
}
.pageContent .forumTitle{
    /* background-color: rgb(244, 243, 248); */
    font-size: 0.34rem;
    padding: 10px;
    font-weight: 700;
}
.forumContentDiv{
    padding:10px 10px 5px 10px;
    /* padding-top:10px; */
    border-bottom: solid 1px beige;
}
.forumContentDiv .userHeadImg{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    float: left;

}
.forumContentDiv .userName{
    padding-left: 0.1rem;
    font-size: 0.32rem;
    color: #048ec6;
}
.forumContentDiv .content{
    padding-left: 0.7rem;
    font-size: 0.24rem;
}
.forumContentDiv .containTag{
    padding-top: 10px;
}
.forumContentDiv .containTag span{
    display: inline-block;
    padding: 2px 5px;
    background: #7ebbff;
    border-radius: 3px;
    margin: 0 5px 5px 0;
    color: #fff;
    font-size: 0.24rem;
}
.forumContentDiv .infoStatus{
    padding-top: 5px;
    font-size: 0.24px;
 }
 .forumContentDiv .infoStatus span{
     display: inline-block;
     width: 80px;
     line-height: 1;
     padding: 5px 0;
     font-size: 0.24rem;
     text-align: center;
     background: #dd4b39;
     color: #fff;
     border-radius: 3px;
     margin-right: 5px;
 }
.forumContentDiv .feeditemfooter{
    padding-top: 10px;
    padding-bottom: 3px;
  font-size: 0.24rem;
}
.forumContentDiv .feeditemfooter .hand{
    padding-bottom: 0.1rem;
    padding-right: 15px;
    float: right;
}
.forumContentDiv .calcfont,.forumContentDiv .replies .lanText
{
    margin-top: 5px;
    font-size: 0.28rem;
    padding: 0 0 0 10px;
    color: rgb(4, 142, 198);
}
.replyList{
    padding:0 10px;
   /* padding-top: 10px; */
}
.replyList .replyItem{
    padding-bottom: 0.1rem;
    padding-top: 0.2rem;
    border-bottom: solid 1px beige;
}
.replyList .replyItem .replyUserImg{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    float: left;
}
.replyList .replyItem .replyUserName{
    padding-left: 0.1rem;
    font-size: 0.28rem;
    color: #048ec6;
}
.replyList .replyItem .replyContent{
    padding-left: 0.7rem;
    font-size: 0.24rem;
}
.replyList .replyItem .feeditemfooter{
    font-size: 0.24rem;
    padding-top: 10px;
    padding-bottom: 0.1rem;
}
.replyList .replyItem .feeditemfooter .hand{
    padding-right: 15px;
    float: right;
}
.replyList .calcfont{
    font-size: 0.28rem;
    margin-top: 5px;
    padding: 0 0 0 10px;
    color: rgb(4, 142, 198)
}

.replyBtnDiv{
    position: fixed;
    bottom: 0;
    height: 0.88rem;
    width: 100%;
    z-index: 20;
    padding:0.14rem 0.4rem;
    box-sizing: border-box;
    border-top: solid 1px beige;
    background-color: #ffffff;
}
.replyBtnDiv input{
    display: inline-block;
    height: 0.6rem;
    overflow: hidden;
    width: 100%;
    font-size: .24rem;
    background-color: rgb(241, 240, 245);
    box-sizing: border-box;
    border-radius: 5px;
    text-indent: 5px;
    outline-color: invert;
    outline-style: none;
    outline-width: 0px;
    border: none;
    border-style: none;
    text-shadow: none;
    -webkit-appearance: none;
    -webkit-user-select: text;
    outline-color: transparent;
    box-shadow: none;
}
.replyDiv{
    position: fixed;
    display: none;
    bottom: 0;
    height: 2.38rem;
    width: 100%;
    z-index: 20;
    padding:0.14rem 0.4rem;
    box-sizing: border-box;
    border-top: solid 1px beige;
    background-color: #ffffff;
}
.replyDiv .reply{
    display: inline-block;
    height: 1.44rem;
    line-height: 0.48rem;
    width: 100%;
    font-size: .24rem;
    background-color: rgb(241, 240, 245);
    box-sizing: border-box;
    border-radius: 5px;
    text-indent: 5px;
}
.replyDiv .send{
    float: right;
    height: 0.6rem;
    color: rgb(217, 217, 219);
    /* color: #048ec6; */
    font-size: 0.28rem;
    padding: 5px 0 5px 20px;
}
.replyDiv .send.active{
    color: #048ec6;
}

/*关闭帖子*/
.elastic-layer{
    position:fixed;
    z-index: 110;
    display:none;
    background: rgba(0, 0, 0, 0.3);
    top:0;left:0;bottom:0;right:0;
  }
  .elastic-layer-content{
    width: 80%;
    max-width: 300px;
    min-height: 100px;
    background: #fff;
    border-radius: 3px;
    position:absolute;
    top:50%;left:50%;
    transform: translate(-50%,-50%);
  }
  .elastic-layer-title{
    padding:20px 15px 10px 15px;
    position: relative;
  }
  .elastic-layer-title::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom:0;
    right: 0;
    height: 1px;
    border-top: 1px solid #d5d5d6;
    color: #d5d5d6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
  }
  .elastic-layer-items{
    padding:9px .3rem 20px;
  }
  .elastic-layer-item{
    display: flex;
    padding:9px 0;
    position: relative;
  }

  .elastic-layer-item .icon-left{
      font-size:.44rem!important;margin-right: 5px;
      margin-left:0px;padding:0;
  }
  .elastic-layer-item .item-right{flex:1;}
  .elastic-layer-item .item-row{
    display: flex;
    align-items: center;
    position: relative;
  }
  .border-bottom::after{
    position: absolute;
    content: "";
    left: 0rem;
    right: 0rem;
    bottom: 0;
    height: 1px;
    background-color: #f6e78b;
  }
  .border-bottom.not-required::after{
    background-color: #ddddde;
  }
  .elastic-layer-item .item-row .label-text{flex: 1;padding-top:5px;}
  .elastic-layer-item .item-row .ListCellContentRight{width:100%;padding: 5px 0;}
  .elastic-layer-item .item-row  input{
    text-align: left;
    outline: none;
    text-align: left;
    border: none;
    font-size: .28rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
  }

  .elastic-layer-item .item-row .rightContent{
    width:100%!important;
  }
  .elastic-layer-item .item-row .calcfont{
    color: #cdcdcd;
    font-size: .32rem;
    padding:0;
  }
  /* .nessesary {
    color: red;
    padding-right: 5px;
    margin:auto;
  } */

  /* #LoseReason-div,#LoseReasonOther-div,#MatterOther-div{display: none;} */
  /* .ListCellRightIcon .calcfont{color:#cdcdcd;} */
  /* .MSN_lable::after{
    content: ":";
    padding:0 5px;
  } */




  .btn-div{
    position: relative;
    line-height: 48px;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .btn-div::after{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #d5d5d6;
    color: #d5d5d6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
  }
  .btn-div .mybtn{
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #3cc51f;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: relative;
  }
  .btn-div .mybtn.btn-cancel{
    color:#5f646e;
  }
  .btn-div .mybtn.btn-cancel::after{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #d5d5d6;
    color: #d5d5d6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
  }
  .calcfont.calc-you{
    font-size: 0.32rem !important;
}

.forumContentDiv .infoStatus span.status71{background: #dd4b39;}
.forumContentDiv .infoStatus span.status70{background: #00a65a;}
.forumContentDiv .infoStatus span.result73{background: #3c8dbc;}
.forumContentDiv .infoStatus span.result74{background: #f39c12;}
