
/*头部样式*/
.header{
  overflow: hidden;
  background: #f8f2dc;
  height: 0.88rem;
  display: flex;align-items: center;
  position:fixed;z-index: 99;
  top:0;left:0;right:0;
}
.back-icon{font-size: 0.48rem;padding:0.1rem 10px;}
.search{flex:1;}
.seize-a-seat{width:15px;}
/*-------end------*/

/*模块选择*/
.search-module{display:flex;position: fixed;z-index: 99;top:0.88rem;left: 0;right: 0;
  box-shadow: 0px 5px 3px -5px #989898 inset;height: 0.8rem;
}
/* .search-module::before{content: "";position: absolute;left:0;right:0;top:0;height: 1px;background: #dbdbdb;} */
.search-module::after{content: "";position: absolute;left:0;right:0;bottom:0;height: 1px;background: #dbdbdb;}
.module-item{flex:1;display: flex;align-items: center;justify-content: center;}
.module-item-text{line-height: 0.4rem;padding:0.2rem 5px;position: relative;}
.module-item-text.active{color:#f90;}
.module-item-text.active::after{content: "";position: absolute;left:0;right:0;bottom:1px;height:1px;background: #f90;}

/*历史记录*/
.history-div{padding:1.68rem 15px 0;position: relative;}
.history-div::after{content:'';height: 1px;background: #f1f1f1;position: absolute;left:15px;right:15px;top:0;}
.history-title{display: flex;align-items: center;padding:0.3rem 0;}
.history-title .text{flex:1;}
.history-title .text-btn{color: #989898;}
.history-item{display: flex;align-items:center;border-bottom: 1px solid #f4f4f4;}
.history-item .l-icon{color: #cccccc;margin-right: 3px;}
.history-item .item-text{flex:1;padding:13px 0;max-width: 90%;overflow: hidden;text-overflow:ellipsis;
white-space: nowrap;}
/*-------end---------*/


/*模糊查询匹配 */
.matching-panel{background: #fff;position: fixed;top:1.68rem;left:0;right:0;bottom:0;padding:0 15px;}
.result-list-item{display: flex;align-items:center;border-bottom: 1px solid #f4f4f4;}
.result-list-item .l-icon{color: #cccccc;margin-right: 3px;}
.result-list-item .item-text{flex:1;padding:13px 0;max-width: 90%;overflow: hidden;text-overflow:ellipsis;
white-space: nowrap;}
/*----- end --------*/



.dropDownBtn{padding:0.1rem 10px;font-size: 0.4rem;}
.headLeftIconDiv{
    position: relative;
    width: 1.86rem;
    height: 0.88rem;
    float: right;
    padding-top: 0.12rem;
    padding-right: 0.1rem;
    /* background-color: yellow; */
    box-sizing: border-box;
}
/* .headLeftIconDiv .dropDownBtn, */
.headLeftIconDiv .searchBtn
{
    width: 0.88rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    border:solid 0.02rem rgb(232, 232, 232);
    box-sizing: border-box;
    background-color: #ffffff;
    float: right;
}

.list {
    position: fixed;
    top:1.68rem;
    left:0;right: 0;bottom:0;
}

.searchSelectDiv {
    position: fixed;
    top: 0.88rem;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 40px;
    background: #fff;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    display: -webkit-box;
    border-top: 1px solid beige;
    border-bottom: 1px solid beige;
    display: flex;
}

/* .titleSearch,
.tagSearch {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 0.2rem;
}

li {
    list-style-type: none;
}

.fenge {
    padding: 0 2px;
} */

/* .active {
    color: #009979;
}

.pullRight {
    display: block;
    line-height: 40px;

} */

.selectFilter,
.selectSort {
    flex: 1;
    height: 40px;
    line-height: 40px;
    font-size: 0.2rem;
    display: block;
    text-align: left;
    box-sizing: border-box;
    /* padding:0 3px; */
    padding-left: 10px;
}
.selectFilter a,.selectSort a{
    display: inline-block;
    width:100%;
    height: 100%;
}
.selectSort{
    padding-left: 0;
    padding-right: 10px;
    text-align: right;
}
.zen-selectArrow {
    border-color: #bfbfbf transparent transparent;
    border-image: none;
    border-width: 4px;
    content: "";
    height: 0;
    width: 0;
    float: none;
    display: inline-block;
    position: relative;
    top: 2px;
    border-style: solid;
}

.searchSelectDiv .feedsortby,.searchSelectDiv .feedFilterby{
    margin-top: 5px;
    background-color: #fff;
    border: solid 1px rgb(226,226,226);
    border-radius: 4px;
}
.searchSelectDiv .feedFilterby{
    width: 110%;
}
.feedsortby li,.feedFilterby li{
    position: relative;
}
.feedsortby li a,.feedFilterby li a{
    display: block;
    color: #000000;
    font-size: 0.24rem;
    text-align: left;
    /* border-bottom: solid 1px rgb(217,217,217); */
    box-sizing: border-box;
    padding-left: 20px;
}
/* i.zen-visualization{
    position: absolute;
    right: 0.1rem;
    font-size: 0.28rem;
    display: none;
}
.selected i.zen-visualization{
    display: inline;
}
.selected{
    color:#f90 !important;
} */

/*发帖按钮*/
.buttom-div{
    position:fixed;
    bottom:calc(1rem + 46px);
    right:10px;
    display: flex;
    flex-direction:column;
  }
  .buttom-div .calcfont{
      width:0.72rem;
      height: 0.72rem;
      line-height: 0.72rem;
      text-align: center;
      background:rgba(0,0,0,0.15);
      border-radius: 50%;
      color:#787878;
      padding:0;
  }

  /* 热门搜索和搜索历史 */
  .searchHotBlock{
      position: fixed;
      padding-top: 0.88rem;
      height: 100%;
      left: 20px;
      right: 20px;
      /* background-color: yellow; */
  }
  .hotTagsBlock{
      padding-top: 15px;
    font-size: 0.28rem;
  }
  .hotTagsBlock p{
      font-size: 0.3rem;
  }
  .hotTagsBlock .tagDiv{
      padding-top: 10px;
  }
  .hotTagsBlock .tagDiv .tagItem{
    display: inline-block;
    font-size: 0.26rem;
    padding: 5px 5px;
    background: #7ebbff;
    border-radius: 3px;
    margin: 0 5px 10px 0;
    color: #fff;
  }
  /* .searchHistoryBlock{
      margin-top: 10px;
      padding: 0 5px;
      font-size: 0.3rem;
  }
  .searchHistoryBlock .instroduciton{
     display: flex;
  }
  .searchHistoryBlock .instroduciton .theme{
     width:calc(100% - 2rem);
  }
  .searchHistoryBlock .instroduciton .clearBtn{
    width: 2rem;
    text-align: right;
    color: rgb(129, 129, 129);
  }
  .searchHistoryBlock .hisStorySearchList .hisStorySearchItem{
      display: flex;
     width: 100%;
     margin-top: 10px;
     color: rgb(129, 130, 135);
  }
  .searchHistoryBlock .hisStorySearchList .hisStorySearchItem .searchIcon{
    width: 0.5rem;
    font-size: 0.30rem;
    margin: auto 0;
  }
  .searchHistoryBlock .hisStorySearchList .hisStorySearchItem .searchContent{
    width: calc(100% - 1rem);
    margin: auto 0;
    font-size: 0.24rem;
  }
  .searchHistoryBlock .hisStorySearchList .hisStorySearchItem .deleteIcon{
    width:0.5rem;
    font-size: 0.24rem !important;
    padding: 10px 5px;
    margin: auto 0;
  } */
