.header{position:fixed;width:100%;top:0;left:0;z-index:99;}
.page-content{ padding-top: 0.88rem;}

/*table切换*/
.nav{position: fixed;top:0.88rem;left:0;z-index: 99;
  width:100%;height:40px;background: #fff;
  -webkit-box-orient:horizontal;-moz-box-orient:horizontal;box-orient:horizontal;
  display:-moz-box;
  display:-webkit-box;
  display:box;
  box-sizing: border-box;
  border-bottom:1px solid beige;
}
.nav-item{
  line-height:38px;
  margin-bottom: -1px;
  text-align: center;
  /* padding:0 5px; */
  box-sizing: border-box;
  -moz-box-flex:3;
  -webkit-box-flex:3;
  box-flex:3;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  word-break: break-all;
  box-sizing: border-box;
  width:50%;
}
.active-item{color:#009979;}
.nav-border{
  position: absolute;
  bottom: -1px;
  left: 0;
  background: #009979;
  width: 50%;
  height: 2px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.pageList{padding-top:40px;}

/*增加按钮*/
.add-btn-div{text-align: center;}
.add-div{height:38px;line-height:38px;text-align: center;display:inline-block;margin: 0 auto;padding:0 15px;}
.add-div .calcfont{color:#ff5a21;}
.add-div .add-text{vertical-align: middle;color:#ff5a21;}
